---
title: Static Table Views
---

<p>
  Viewing tabular data is one of the most common activities
  computers are used for, so iOS has built in classes for
  handling them.
</p>

<p>
  The most basic kind of table is one with Static cells. This
  means that the content of the table has been decided during
  the development of the applicaiton. An example of this usage
  is the iOS Settings app.
</p>

<img src="/images/settings_static_table.png">

<p>
  While this UI could have been implemented with a scrolling
  view containing many buttons, the table view presents
  a clean layout that accepts and loses new entries as
  the application changes over time.
</p>

<section>
  <h1>Demo App</h1>

  <p>
    Make a new project in XCode. Use the Empty Application template.
    Create a new Objective-C class called StaticTableViewController
    that is a subclass of <em>UITableViewController</em>. Don't forget
    to check the "Create XIB" box as well. 
  </p>

  <p>
    In your new project, click on the XIB file to edit it. From
    the object library in the bottom right, find Table View. 
    Drag a table view over and set it to the correct size.
</section>
