---
title: Using Github with XCode
---

<ol>
  <li>
    Create a new repository for the project from the Github web site.
  </li>
  <li>
    Create a new XCode project. Make sure that the "Create git repository"
    checkbox is selected during the project creation process. While it is
    possible to add an existing project to Github, it requires interacting
    with git outside of XCode.
  </li>
  <li>
    From the XCode menu, select Source Control -> {Project Name} -> Configure...
  </li>
  <li>
    
