---
title: If / Else
---
    
<p>
  Much of programming is taking different courses of action based
  on certain conditions. In C we do this with an if/else statement
</p>

<pre>
if (condition) {
  // Do if condition is true
} else {
  // Do if condition is false
}
</pre>

<p>
  The trailing else is optional.
</p>

<h2>What is Truth?</h2>

<p>
  C has a pretty simple concept of truth. The value <code>0</code> is false.
  All other values are considered true.
</p>

<h2>Comparison Tests</h2>

<dl>
  <dd>&lt;</dd>
  <dt>Less Than</dt>
  <dd>&gt;</dd>
  <dt>Greater Than</dt>
  <dd>&lt;=</dd>
  <dt>Less than or equal</dt>
  <dd>&gt;=</dd>
  <dt>Greater than or equal</dt>
  <dd>==</dd>
  <dt>Equality</dt>
  <dd>!=</dd>
  <dt>Inequality</dt>
</dl>

<h2>Boolean Logical Tests</h2>

<dl>
  <dd>&&</dd>
  <dt>AND</dt>
  <dd>||</dd>
  <dt>OR</dt>
  <dd>!</dd>
  <dt>Negation</dt>
</dl>

<section>
  <h1>Exercises</h1>

  <ol>
    <li>
      Write a program that performs several if/else checks. Use each
      of the comparison tests.
    </li>
    <li>
      Write a program that performs an if/else check that a number is
      less than 10 and greater than 20. Use only a single if statement
      and the '&&' operator.
    </li>
    <li>
      Write a program that will determine if a number input by the
      user is small, medium or large. If the number is less than 10,
      it is small, if it is greather than 100, it is large.
    </li>
  </ol>
</section>

      
