---
title: Maths
---

<p>
  C provides the usual collection of arithmetic operators, along
  with a few shortcuts.
</p>

<h2>Arithmatic</h2>

<h2>Shortcuts</h2>

<p>
  Often an artimetic operation is used to alter the value of a variable, so
  there is a short form for this pattern.
</p>

<pre>
int accountTotal = 5000;
int deposit = 300;
accountTotal += deposit; // accountTotal = accountTotal + deposit
</pre>      

<h2>Unary Operators</h2>

<p>
  Incrementing and decrimenting a number by 1 is such a common 
  operation that there's a shortcut for it.

  <pre>
int a = 5;
--a;
NSLog(@"%d", a); // prints 4
int b = 6;
++b;
NSLog(@"%d", b); // prints 7
  </pre>
