<h1>Grab Bag</h1>

<p>A few demo apps showing off various APIs and techniques</p>

<ul>
  <li>
    <a href="https://github.com/dgroulx/SleepyPeople.git">SleepyPeople - Accessing a REST API</a> 
  </li>
  <li>
    <a href="https://github.com/dgroulx/Webby.git">Webby - Embedding web views</a>
  </li>
  <li>
    <a href="https://github.com/dgroulx/Cartography.git">Cartographyer - Embedded map views</a>
  </li>
</ul>

<p>Other useful resources</p>
<ul>
  <li>
    <a href="https://developer.apple.com/videos/wwdc/2012/">Using Storyboards</a>
  </li>
  <li>
    <a href="https://developer.apple.com/library/ios/documentation/userexperience/conceptual/AutolayoutPG/AutoLayoutbyExample/AutoLayoutbyExample.html">Autolayout by Example</a>
    </a>
</ul>
